<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=dba359696d9128e480e86a54ca9944f1"></script> 
	<script type="text/javascript" src="host.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于游记文本的旅游景点推荐系统</title>    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/marketing.css">
    <style type="text/css">
    		body,html{
				width: 100%;
				height: 100%;
			}
    		#tabler{
				width: 20%;
				height: 100%;
				margin: auto;
				float: left;
			}
			#container{
				width: 80%;
				height: 650px;
			}
    </style>
</head>
<body>
	<div id="app">
		<div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="#">首页</a>
                <a class="pure-menu-heading" href="att.html">景点展示</a>
                <a class="pure-menu-heading" href="attRecommend.html">景点推荐</a>
                <a class="pure-menu-heading" href="route.html">路线查询</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" v-text="name" type="button" @click="toUser()">{{name}}</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" v-text="status" type="button" @click="changeStatus()">{{status}}</a></li>
                </ul>
            </div>
		</div>
		<br>
		<br>
		<div>
		    <div v-if="firstLogin">
		        <h1>你感兴趣的标签</h1>
		        <div class="pure-control-group">
			        <input type="checkbox" v-model="charact1"> 人文
		            <input type="checkbox" v-model="charact2"> 自然
		            <input type="checkbox" v-model="charact3"> 美食
		            <button @click="onSubmit()" type="button" class="pure-button pure-button-primary">提交</button>
		        </div>
		    </div>

		    <div v-if="isLogin">
		    	<h1>
		    		右上角登录后使用
        		</h1>
		    </div>
		</div>

		<div v-show="recommend">
			<div id="tabler">
				<h2>推荐了解一下这些景点</h2>
				<ul style="font-size: 21px">
					<li v-for="(it,index) in atts" @click="fun(it)">
						<a href="#">
							{{ it.name }}
						</a>	
					</li>
				</ul>
				<h2>以及这些路线</h2>
				<ul>
					<li v-for="(it,index) in routes">
						<a v-bind="{href:it.source}">第{{index+1}}条路线</a>：<a href="#" @click="showRoute(it.attsId)">{{it.attractions}}</a>
					</li>
				</ul>
			</div>
			<div id="container"></div>	
		</div>
			

	</div>

</body>

<script type="text/javascript">
	var app = new Vue({
		el:"#app",
		data:{
			name:"请登录",
			status:"login",//"sign up"
			charact1:"",
			charact2:"",
			charact3:"",
			firstLogin: false,
			recommend: false,
			isLogin: true,
			map:null,
			atts : null,
			routes:null
		},

		methods:{
			//右上角的个人中心
			toUser:function(){
				if (this.status=="sign up") {
					window.location="user.html";
				}else{
					return;
				}
			},
			//右上角的登录按钮
			changeStatus:function(){
				if (this.status=="login") {
					window.location="login.html";
				}else{
					this.name="请登录";
					this.status="login";
				}
			},
			//第一次登陆后加载推荐部分
			loadChart:function(chart){
				let param = new URLSearchParams();
				var url = "http://"+host+":"+port+"/user/updateUser";
				var that = this;
				param.append('chart',chart);
				axios({
				    method: 'post',
				    url: url,
				    data: param,
				    withCredentials: true
				}).then(function(response){
					console.log(response);
					that.atts = response.data.data.reverse();
				});
				url = "http://"+host+":"+port+"/route/getRouteByChart?chart="+chart;
				axios.get(url)
				.then(function (response) {
					that.routes = response.data.data;
					console.log(that.routes);
				})
				.catch(function (error) {
					console.log(error);
				});
				this.recommend=true;
				this.map = new AMap.Map('container', {
					resizeEnable: true,
				    center:[112.982279,28.19409],
				    zoom:11
		    	});
			},
			//提交三个特征之一的按钮事件处理方法
			onSubmit:function(){
				this.firstLogin=false;
				var url = "http://"+host+":"+port+"/user/updateUser";
				var ret = "";
				if (this.charact1) {
					ret=ret+"1";
				}else{
					ret=ret+"0";
				}
				if (this.charact2) {
					ret=ret+"1";
				}else{
					ret=ret+"0";
				}
				if (this.charact3) {
					ret=ret+"1";
				}else{
					ret=ret+"0";
				}
				let param = new URLSearchParams();
				param.append('chart',ret);
				axios({
				    method: 'post',
				    url: url,
				    data: param,
				    withCredentials: true
				}).then(function(response){
					console.log(response);
					this.atts = response.data.data.reverse();
				});
				this.recommend=true;
				this.loadChart(ret);
			},
			//点击景点名字 在地图上显示的方法
			fun:function(it){
				this.map.clearMap();
				var marker = new AMap.Marker({
				    position: new AMap.LngLat(it.latitude,it.longitude),
				    title: it.name
				});
				marker.setLabel({
					offset: new AMap.Pixel(20,20),
					content:it.name
				});
				// 将创建的点标记添加到已有的地图实例：
				this.map.add(marker);
				this.map.setFitView(marker);
			},
			showRoute:function(str){
				var loc = new Array(); 
				var arr = str.split("&");
				for(var i in arr){
					if (i==arr.length-1) {
						break;
					}
					var loca = arr[i].split(",");
					loc.unshift(new AMap.LngLat(Number(loca[0]),Number(loca[1])));
				}
				this.map.clearMap();
				var that=this;
				loc.forEach(function(it,index,loc){
					var tit=null;
					// if (index==0) {
					// 	tit="start";
					// }
					let marker = new AMap.Marker({
						position:it,
						title:tit
					});
					marker.setLabel({
						offset: new AMap.Pixel(20,20),
						content:tit
					});
					console.log(it);
					that.map.add(marker);
					if (index==0) {
						that.map.setFitView(marker);
					}
				})
				var line = new AMap.Polyline({
					path:loc,
					borderWeight:2,
					strokeColor:'red',
					lineJoin: 'round'
				});
				this.map.add(line);
			}
		},
		mounted:function() {
			var url = "http://"+host+":"+port+"/user/getUser";
			var that = this;
			axios.get(url,{
				withCredentials: true
			})
			.then(function (response) {
				console.log(response);
				var serverStatus = response.data.status;
				if (serverStatus=="not login") {
					return;
				}
				let user = response.data.data;
				that.isLogin = false;
				that.name = user.name;
				that.status = "sign up";
				if (user.personal==null) {
					//第一次登陆
					that.firstLogin=true;
				}else{
					that.recommend=true;
					console.log(that);
					console.log("user.personal="+user.personal);
					that.loadChart(user.personal);
				}
			})
			.catch(function (error) {
				console.log(error);
			});
		}

	});
</script>
</html>