<!-- 
	登录页面 
-->
<!DOCTYPE html>
<html>
<head>
		<title>用户登录</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=dba359696d9128e480e86a54ca9944f1"></script> 
		<script type="text/javascript" src="host.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">

		<style type="text/css">
			body,html{
				width: all;
				height: all;
			}
			#fform{
				width:600px; 
				height:400px;
				position:absolute; 
				left:50%; 
				top:50%; 
				margin-left: -300px; 
				margin-top: -200px;
			}
		</style>
</head>

<body>
	
	<div id="fform">
		<h1>基于游记文本的旅游景点推荐系统</h1>
		<form class="pure-form pure-form-aligned">
		    <fieldset>
		        <div class="pure-control-group">
		            <label for="name">用户名</label>
		            <input v-model="name" type="text" placeholder="用户名" required>
		        </div>

		        <div class="pure-control-group">
		            <label for="password">密码</label>
		            <input v-model="password" type="password" placeholder="密码" required>
		        </div>

		        <div class="pure-controls">
		            <button @click="register()" type="button" class="pure-button pure-button-primary">注册</button>
		            <button @click="login()" type="button" class="pure-button pure-button-primary">登录</button>
		        </div>
		    </fieldset>
		</form>
	</div>


</body>


<script>
	var app = new Vue({
		el:"#fform",
		data:{
			name:"",
			password:""
		},
		methods:{
			login:function(){
				if (this.name==""||this.password=="") {
					alert("用户名或密码为空！");
					return;
				}
				var url = "http://"+host+":"+port+"/user/login";
				let param = new URLSearchParams();
				param.append('userName',this.name);
				param.append('password',this.password);
				axios({
				    method: 'post',
				    url: url,
				    data: param,
				    withCredentials: true
				}).then(function(response){
					console.log(response.data);
					var status=response.data.status;
					console.log(status);
					if (status=="dont exist") {
						alert("用户不存在！");
					}else if (status=="failed") {
						alert("用户名与密码不匹配！");
					}else{
						window.location.href="index.html";
						return false;
					}
				});
			},
			register:function(){
				window.location="register.html";
			}
		}
	});
</script>




</html>